<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="so101">

    <xacro:arg name="use_sim" default="true"/>

    <xacro:include filename="$(find lerobot_description)/urdf/so101_base.xacro" />
    <xacro:include filename="$(find lerobot_description)/urdf/so101_gazebo.xacro" />
    <xacro:include filename="$(find lerobot_description)/urdf/so101_ros2_control.xacro" />


</robot>