<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <!-- ROS 2 Control -->
    <gazebo>
        <plugin filename="gz_ros2_control-system" name="gz_ros2_control::GazeboSimROS2ControlPlugin">
            <parameters>$(find lerobot_controller)/config/so101_controllers.yaml</parameters>
        </plugin>
    </gazebo>

</robot>