<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:arg name="use_sim" default="true"/>
    <xacro:arg name="port" default="/dev/ttyACM0"/>
    <xacro:arg name="calib_file" default=""/>
    <xacro:arg name="reset_positions" default=""/>

    <ros2_control name="RobotSystem" type="system">
        <xacro:if value="$(arg use_sim)">
            <hardware>
                <plugin>gz_ros2_control/GazeboSimSystem</plugin>
            </hardware>
        </xacro:if>

        <xacro:unless value="$(arg use_sim)">
            <hardware>
                <plugin>so101_hardware/SO101SystemHardware</plugin>
                <param name="port">$(arg port)</param>
                <param name="calib_file">$(arg calib_file)</param>
                <param name="reset_positions">$(arg reset_positions)</param>
            </hardware>
        </xacro:unless>

        <joint name="1">
            <command_interface name="position">
                <param name="min">-2.0693</param>
                <param name="max">2.0709</param>
            </command_interface>
            <state_interface name="position" />
            <param name="id">1</param>
        </joint>

        <joint name="2">
            <command_interface name="position">
                <param name="min">-1.74533</param>
                <param name="max">1.74533</param>
            </command_interface>
            <state_interface name="position" />
            <param name="id">2</param>
        </joint>

        <joint name="3">
            <command_interface name="position">
                <param name="min">-1.6813</param>
                <param name="max">1.6828</param>
            </command_interface>
            <state_interface name="position" />
            <param name="id">3</param>
        </joint>

        <joint name="4">
            <command_interface name="position">
                <param name="min">-1.65806</param>
                <param name="max">1.65806</param>
            </command_interface>
            <state_interface name="position" />
            <param name="id">4</param>
        </joint>
        <joint name="5">
            <command_interface name="position">
                <param name="min">-2.9115</param>
                <param name="max">2.9115</param>
            </command_interface>
            <state_interface name="position" />
            <param name="id">5</param>
        </joint>

        <joint name="6">
            <command_interface name="position">
                <param name="min">-1.0858</param>
                <param name="max">1.0858</param>
            </command_interface>
            <state_interface name="position" />
            <param name="id">6</param>
        </joint>
    </ros2_control>

</robot>