[submodule "libs/lerobot"]
    path = libs/lerobot
    url = git@gitcode.com:openeuler/lerobot_ros2.git
    branch = master
    ignore = dirty
[submodule "src"]
    path = src
    url = git@gitcode.com:openeuler/ledog_ros2.git
    branch = rosetta
    ignore = dirty
